* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
  letter-spacing: 8px;
}
#header {
	height: 250px;
}
@font-face {
	font-family: pingfang;
	src: url('../assets/font/pingfang.otf')
}

@font-face {
	font-family: semibold;
	src: url('../assets/font/semibold.otf')
}

@font-face {
	font-family: ariblk;
	src: url('../assets/font/ariblk.ttf')
}

@font-face {
	font-family: fzhz;
	src: url('../assets/font/fzhz.ttf')
}

@font-face {
	font-family: yaheib;
	src: url('../assets/font/yaheib.ttf')
}

@font-face {
	font-family: roboto;
	src: url('../assets/font/roboto.ttf')
}

.pingfang {
	font-family: pingfang;
}

.fzhz {
	font-family: fzhz;
}

.semibold {
	font-family: semibold;
}

.roboto {
	font-family: roboto;
}

.center {
	text-align: center
}

.font48 {
	font-size: 48px;
}

.font32 {
	font-size: 32px;
}

.font60 {
	font-size: 60px;
}

.font72 {
	font-size: 72px;
}

.white {
	color: rgba(255, 255, 255, 0.8)
}
.danger{
  color:#FB3A06;
}
.success{
  color:#15CC48;
}

#header .header_div {
	/* border: 1px solid red; */
}

#header .header_left {
	width: 28%;
	float: left;
	padding-left: 2%;
	line-height: 250px;
}

#header .header_title {
	width: 44%;
	float: left;
	color: #4ac4eb;
	font-size: 84px;
	letter-spacing: 50px;
	line-height: 240px;
	text-align: center;
}

#header .header_right span {
	margin-right: 80px;
	color: #4ac4eb
}

#header .header_right {
	width: 26.5%;
	float: right;
	line-height: 250px;
	text-align: right;
	padding-right: 3%;
}

.address {
	position: relative;
	margin-left: 550px;
}

.address::before {
	background: url('../assets/img/address.png') no-repeat top left /70px 70px;
	/*兼容没测*/
	position: absolute;
	bottom: 0;
	left: -80px;
	z-index: 2;
	width: 70px;
	height: 70px;
	content: '';
}



.main {
	padding: 1% 2%;
}


.left,
.right {
	width: 25%;
	float: left;
}

.middle {
	width: 50%;
	float: left;
}

/* 绿色医院 */
.left_1 {
	/* border: 1px solid red; */
	padding: 70px 128px;
	height: 370px;
	line-height: 80px;

}

.left_1 span {
	margin: 0px 30px;
	color: #11f6e7;
	font-family: ariblk;
	font-size: 60px;
}

.left_2 {
	/* border: 1px solid red; */
	height: 1200px;
	padding: 60px;
}

.left_2 header {
	font-size: 72px;
  padding: 0 80px;
}

.left_2 ul {
	margin: 60px 80px;
	width: 100%;
}

.left_2 ul li {
	width: 50%;
	float: left;
	display: block;
	margin-top: 60px;
}

.left_2 ul li .icon {
	width: 112px;
	float: left;
	margin-right: 20px;
	position: relative;
}

.left_2 ul li .txt {
	display: inline-block;
	position: relative;
	float: left;
	width: 400px;
	height: 220px;
}

.left_2 ul li .txt p {
	font-size: 36px;
}

.left_2 ul li .txt strong {
	font-size: 80px;
	color: #11f6e7;
	margin-top: 20px;
	display: inline-block;
	position: absolute;
	bottom: 0;
}

.left_3 {
	/* border: 1px solid red; */
	height: 1340px;
	padding: 70px 120px;

}

.main table {
	border: 2px solid #009fc9;
	margin-top: 60px;
}
.main table td,table th {
	font-size: 32px;
	text-align: center;
	padding: 0px 10px;
	min-width: 40px;
	color: #fff;
}
.main table th {
	height: 86px;
	font-family: semibold;
}
.main table td {
	height: 100px;
	font-family: pingfang;
}

/* bim */
.middle_1 {
	width: 2700px;
	height: 1500px;
	margin-top: 30px;
	margin-left: 30px;
	/*border: 1px solid red; */
}
.middle_1 img{width: 100%;height: 100%;}

/* 能源总况 */
.middle_2 {
	margin-top: 70px;
	 /*border: 1px solid red; */
	padding: 30px;
	height: 1280px;
	position: relative;
	width: 2760px;
	overflow: hidden;
}

.item_main {
	width: 5400px;
	transition: all 1s;
}

.middle_item {
	width: 2700px;
	height: 1100px;
	float: left;
	position: relative;
}

.middle_item #nyzk_echarts {
	width: 80%;
	height: 90%;
	padding: 10%;
}

.middle_2 header {
	text-align: center;
	font-family: pingfang;
	font-size: 72px;
	color: #fff;
	letter-spacing: 8px;
}

.middle_2 .nyzknxfx {
	padding-top: 24px;
  padding-left: 44px;
	clear: both;
}


.middle_2 ul.header_btn {
	position: absolute;
  top: 40px;
  right: 180px;
}

.middle_2 ul.header_btn li {
	width: 140px;
	float: left;
	margin-left: -3px;
	border: 2px solid #009fc9;
	color: #fff;
	height: 80px;
	line-height: 80px;
	text-align: center
}

.middle_2 ul.header_btn li.active {
	border: 2px solid rgba(0, 159, 201, 0.6);
	background: rgba(0, 159, 201, 0.6)
}

.middle_2 .middle_item header {
	font-family: pingfang;
	font-size: 60px;
	color: #fff;
	width: 2488px;
	height: 120px;
	clear: both;
	line-height: 120px;
	padding-left: 50px;
	text-align: left;
	background: url('../assets/img/header.png');
}

/* 能源总况左边 */
.nyzk ul {
	width: 60%;
	margin-left: 64px;
	float: left;
}

.nyzk ul li {
	width: 50%;
	float: left;
	margin-top: 30px;
	font-size: 48px;
	color: #fff;
	font-family: pingfang;
}

/* 能源总况饼图 */
.nyzk #nyzk_echart {
	width: 35%;
	float: left;
	height: 340px;
	margin-top: -50px;
}

.nhqs {
	width: 5300px;
	transition: all 1s;
}

.nhqs #nhqs_echart {
	width: 50%;
	height: 530px;
	float: left;
}

.nhqs #nxqs_echart {
	width: 50%;
	height: 530px;
	float: left;
}

/* 资产管理 */
.right_1 {
	/* border: 1px solid red; */
	padding: 55px 120px;
	height: 1550px;
}

.right_item {
	padding-top: 36px;
	clear: both;
}

.bhgl {
	padding-top: 66px;
}

.ksynsj_right ul,
.bhgl ul {
	width: 100%;
	margin-top: -20px;
	margin-left: 44px;
}

.ksynsj_right ul li,
.bhgl ul li {
	width: 33.3%;
	float: left;
	margin-top: 30px;
	font-size: 36px;
	color: #fff;
	font-family: pingfang;
}

.bhgl ul li span {
	font-family: roboto;
	color: #11f6e7;
	margin: 0 30px;
	text-decoration: underline;
}

.ywds table {
	margin-top: 30px;
}

.ywds table td {
	height: 96px;
}

#bhgl_echart {
	width: 100%;
	height: 400px;
	margin-top: -50px;
	clear: both;
}

#sbgz_echart {
	width: 100%;
	height: 410px;
	margin-top: -30px;
}

/* 今日管控情况 */
.right_2 {
	/* border: 1px solid red; */
	padding: 96px 120px;
	height: 1200px;
}

.right_2 .hnzs {
	position: relative;
}
.right_2 .ksynsj{
  padding-top: 66px;
}
.right_2 .ksynsj_left{
  float: left;
  width: 220px;
  height: 255px;
  padding-left: 1px;
  margin-top: 48px;
  overflow: hidden;
}
.right_2 .ksynsj_left ul {
  transition: all 1s;
}
.right_2 .ksynsj_left ul li {
  width: 210px;
  font-size: 24px;
  font-family: pingfang;
  float: left;
  margin-left: 10px;
  border: 2px solid #009fc9;
  color: #a3cccc;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.right_2 .ksynsj_left ul li.active{
  border: 2px solid rgba(0, 159, 201, 0.6);
  background: #009fc9;
  color: #fff;
}
.right_2 .ksynsj_right {
  width: 900px;
  margin-top: 18px;
  float: left;
}
.right_2 .ksynsj_right strong {
  font-family: yaheib;
  font-size: 48px;
  color: #11f6e7;
}
.kshnjndb .kshnjndb_item {
  height: 180px;
  margin-top: 20px;
  overflow: hidden;
}
.kshnjndb ul {
  width: 100%;
  margin-left: 40px;
  margin-top: 40px;
  transition: all 1s;
}
.kshnjndb ul li {
  padding: 20px 0px;
  display: block;
  height: 20px;
  line-height: 60px;
}
.kshnjndb .kshnjndb_bar {
  position: relative;
  width: 900px;
  float: left;
  background: rgba(0, 159, 201, 0.4);
  height: 20px;
}
.kshnjndb .kshnjndb_bar_active {
  width: 80%;
  background: #009fc9;
  height: 100%;
}
.kshnjndb .txt {
  float: left;
  font-family: pingfang;
  color: #a3cccc;
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
}
.right_2 .hnzs .txt {
	width: 250px;
	float: left;
	vertical-align: middle;
	padding-top: 40px;
}

.right_2 .message {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: 32px;
}
.right_2 .hnzs .level {
	width: 850px;
	float: left;
}


.button-mini{
  padding: 20px 30px;
  font-size: 36px;
}
.button-small{
  padding: 30px 40px;
  font-size: 48px;
}
.button{
  padding: 40px 50px;
  font-size: 60px;
  border-radius: 12px;
}
