* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
  letter-spacing: 3px;
}
.el-container,.el-aside,.el-aside .el-row,.el-aside .el-row .el-col{
  position: relative;
  height: 100%;
  clear: both;
  overflow: hidden;
}
.el-submenu .el-submenu__title i{
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.body-container{
  background: #E4E4E4;
}
/* 主页头部 */
.el-header{
  overflow: hidden;
}
.body-head{
  background: #ffffff;
  box-shadow:0px 3px 3px rgba(0,0,0,0.08);
  position: relative;
  z-index: 1;
}
.head-menu{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head-menu li{
  display: inline-block;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 15px;
  cursor: pointer;
}
.head-menu-item{
  color: #000;
  font-size: 18px;
  cursor:pointer;
}
.head-title{
  color: #1E222B;
}
/* 侧边导航栏 */
.aside-menu{
  overflow-y: auto;
}
.aside-menu::-webkit-scrollbar {
  display: none;
}
.menu-ul{
  border-right: none;
  background: #002e69;
}
.menu-ul .el-menu{
  background-color: #002e69;
  border-right: none;
}
.menu-ul .el-menu-item{
  background-color: #002e69;
}
.menu-ul .el-menu-item:hover{
  background: #022047;
  color: #ffffff;
}
.menu-ul .el-menu-item:hover i{
  color: #ffffff;
}
.menu-ul .el-menu-item.is-active {
  background-color: #022047;
  color: #ffffff;
}
.el-menu-item, .el-submenu__title{
  height: 45px;
  line-height: 45px;
  color: #ffffff;
}
.el-submenu:hover .el-submenu__title{
  background-color: #022047;
}
.left-aside{
  background: #002e69;
  box-shadow:3px 0px 3px rgba(0,0,0,0.08);
}
.aside-foot{
  position: absolute;
  bottom: 0;
  height:110px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}
.aside-foot .el-button{
  background-color: #168DD7;
  color: #fff;
}
/* 图标 */
.el-menu-item [class^=fa] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
/* element 组件样式自定义 */
/* 分页 */
.el-pagination{
  float: right;
  margin-top: 15px;
}
/* 公用组件样式 */
.platformContainer{
  width: 100%;
  background: #ffffff;
  color: #000;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 15px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
.cardContainer{
  width: 100%;
  background: #ffffff;
  color: #000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow:0px 0px 6px rgba(0,0,0,0.16);
  padding: 15px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
.cardContainerHead{
  width: 100%;
  background: #ffffff;
  color: #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow:0px 0px 6px rgba(0,0,0,0.16);
  padding: 10px 15px;
  margin-bottom: 4px;
}
.colItemContainer{
  width: 100%;
  background: #ffffff;
  border: 1px solid #E6E6E6;
  color: #000;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
.tableContainer{
  width: 100%;
  background: #ffffff;
  color: #1B1E27;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
.navOptionsItem{
  width:100%;
  background:#ffffff;
  clear: both;
  overflow: hidden;
  border-radius:4px;
  margin-bottom: 20px;
}
.navOptionsItem ul li{
  float:left;
  margin:10px;
}
.navOptionsItem ul li a{
  display: block;
  color:#34383E;
  font-size:18px;
  background:#ffffff;
  text-decoration: none;
  padding:5px 20px;
  border-radius:4px;
}
.navOptionsItem ul li a.active{
  color:#ffffff;
  background:#002e69;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.page-title{
  width: 100%;
  margin-bottom:15px;
  background: #ffffff;
  color: #1B1E27;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  border-radius:4px;
}
.page-title .page-title-radio{
  float: right;
  line-height: 48px;
}
/* 自定义表格样式 用于报修单等页面 */
.elementTable{
  width: 100%;
  border-bottom: 1px solid #1B1E27;
  border-right: 1px solid #1B1E27;
  border-collapse: collapse;
  border-spacing: 0;
  margin:0;
  padding:0;
}
.elementTable th,.elementTable td{
  border-left: 1px solid #1B1E27;
  border-top: 1px solid #1B1E27;
  font-weight: normal;
  padding: 10px;
}
/* 字体大小 */
.text-size-12{
  font-size: 12px;
}
.text-size-14{
  font-size: 14px;
}
.text-size-16{
  font-size: 16px;
}
.text-size-18{
  font-size: 18px;
}
.text-size-20{
  font-size: 20px;
}
.text-size-24{
  font-size: 24px;
}
/* 字体颜色 */
.color-white{
  color:#fff;
}
.color-offwhite{
  color:#F9F9F9;
}
.color-grayblack{
  color: #9B9B9B;
}
.color-darkblue{
  color:#228AD5;
}
.color-lightgreen{
  color:#00FAE7;
}
.color-success{
  color: #15CC48;
}
.color-orange{
  color:#FA7D00;
}
.color-red{
  color:#FB3A06;
}
/* 背景颜色 */
.bg-grayblack{
  background-color:#34383E;
}
.bg-black{
  background-color:#1B1E27;
}
.bg-success{
  background-color:#15CC48;
}
.bg-red{
  background-color:#FB3A06;
}
.bg-lightgreen{
  background-color:#00FAE7;
}
.bg-darkblue{
  background-color:#228AD5;
}
/* 间距 */
.marginTop{
  margin-top: 15px;
}
.marginBottom{
  margin-bottom: 15px;
}
.marginBottomS{
  margin-bottom: 10px;
}
.marginRight{
  margin-right: 20px;
}
.col20{
  width: 20%;
  padding: 0 15px;
}
/* 文本位置 */
.vertical-align-middle{
  vertical-align: middle;
}
.vertical-align-top{
  vertical-align: top;
}
.vertical-align-bottom{
  vertical-align: bottom;
}
.text-center{
  text-align: center;
}
/* 圆点 */
.dotState{
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}
/* 可滚动 */
.scrollable{
  width: 100%;
  height: 100%;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollable::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.MainContain{
  position: relative;
  width: 1450px;
  height: 887px;
}
.hf-6{
  position: absolute;
  width: 76px;
  height: 62px;
  border-radius: 4px;
}
.smalllbox{
  width: 76px;
  height: 31px;
  line-height: 31px;
  text-align: center;
}
.sfs{
  position: absolute;
  margin:0 auto;
  padding:0px 14px;
  width: 50px;
  line-height: 95px;
  height: 282px;
  font-size: 18px;
  color:#fff;
}
.text-box{
  position: absolute;
  width:75px;
  height:33px;
  padding: 6px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-align:center;
}
.lqt{
  position: absolute;
  width:160px;
  height:120px;
  padding: 6px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-align:center;
  cursor: pointer;
}
.jz{
  position: absolute;
  width:105px;
  height:105px;
  padding: 6px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-align:center;
  cursor: pointer;
}
.lqb{
  position: absolute;
  width:65px;
  height:65px;
  padding: 6px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-align:center;
  cursor: pointer;
}
.wd{
  position: absolute;
  width:80px;
  height:25px;
  line-height: 25px;
  color: #15CC48;
  font-size: 12px;
  letter-spacing: 2px;
  background: #000;
  border-radius: 4px;
  text-align:center;
  cursor: pointer;
}


